 .u-section-1 {
  background-image: url("images/space.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 1063px;
  height: auto;
  --radius: 20px;
  box-shadow: 2px 2px 40px 0px rgba(255,255,255,1);
  margin: 50px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 64px;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 14px;
  font-size: 1.25rem;
  margin: 55px auto 0;
  padding: 12px 52px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}